<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dinner And A Movie</title>
  <!-- <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.css"> -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.1.1/material.green-indigo.min.css">
  <script defer src="https://code.getmdl.io/1.1.1/material.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzKDERDNU-xk5C6T1lu-u4_UWOE_wv8aY&libraries=places"></script>
  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>

</head>
<body>