<% include ./partials/header %>

  <h1><%= header %></h1>
  <p class="prompt"><%= blurb %></p>
  <p id="error-message"></p>
  <form class="pure-form" method="POST" action="/showtimes">
    <input type="text" class="pure-input">
    <button type="submit" class="theaters-search">Search</button>
  </form>

  <div class="theaters-container"></div>  

<% include ./partials/footer %>