<% include ./partials/header %>

<div class="wrapper">
  <div class="container">  
    <h1><%= header %></h1>
    <p class="prompt"><%= blurb %></p>
    <p id="error-message"></p>
    <form class="pure-form" method="POST" action="/showtimes">
      <input type="text" class="pure-input"><br><br>
      <button type="submit" class=" mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent theaters-search">Search</button>
    </form>
    <div class="theaters-container"></div>
  </div>
  <!-- <div style="height: 400px; width: 400px;" id="map"></div> -->
</div>  

<% include ./partials/footer %>