<% include ./partials/header %>

  <h1 class="zip-header"></h1>
  
  <h2 class="theater-name"></h2>
  <h3 class="theater-address"></h3>
  <h3 class="theater-phone"></h3>

<% include .partials/footer %>